/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable at-rule-no-unknown */



/* In your globals.css */
/* ===== Frosted Dark Scrollbar ===== */

::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(15, 32, 39, 0.8);
  border-radius: 999px;
  border: 1px solid rgba(56,189,248,0.4);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(32, 58, 67, 0.9);
  border-color: rgba(56,189,248,0.9);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(56,189,248,0.6) transparent;
}
